<h3>Comment<h3>
<% form_for (@post,@comment) do |f|%>
  <div class="field">
    <%= f.label :c_body %><br>
    <%= f.text_area :c_body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>